#sign-in-page {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #638F56;
}

#sign-in-page .container {
  width: 400px;
  background: #fff;
  padding: 24px;
  border-radius: 5px;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.25);
}

#sign-in-page .logo {
  color: #444;
  text-align: center;
  padding: 32px;
}

#sign-in-page .sign-in-label {
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 8px;
  color: #444;
}

#sign-in-page .input-label {
  font-size: 19px;
  color: #252525;
  margin-bottom: 4px;
}

#sign-in-page .input {
  width: 100%;
  height: 48px;
  font-size: 18px;
  padding: 0 16px;
  border: 0;
  border-radius: 5px;
  background: #f2f2f2;
  border: 1px solid #e6e6e6;
  color: #444;
  margin-bottom: 12px;
}

#sign-in-page .registration-link {
  text-align: center;
  margin-top: 8px;
  color: #252525;
  height: 32px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: underline;
  cursor: pointer;
}

#sign-in-page .submit-button {
  border: 0;
  border-radius: 5px;
  background: #D2902D;
  color: #fff;
  font-size: 20px;
  width: 100%;
  margin-top: 16px;
  font-weight: 500;
  padding: 8px 32px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
}

#sign-in-page .submit-button:hover {
  transform: scale(1.02);
}

#sign-in-page .submit-button:active {
  transform: none;
}
