@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: text;
  -khtml-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

*:focus{
  outline: 0;
}

html, body, #root {
  min-height: 100vh;
  min-width: 768px;
}

body {
  font: 400 16px Roboto, sans-serif;
  -webkit-font-smoothing: antialiased;
}

input, button, textarea {
  font-family: Roboto, sans-serif;
}

a,
a:active {
  text-decoration: none;
  color: #252525;
}

ul {
  list-style: none;
}

button {
  cursor: pointer;
  font: 16px Roboto, sans-serif;
}

button,
button:focus,
button:active {
  background: none;
  outline: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance:textfield;
}

input[type="file"] {
  display: none;
}

input[disabled],
textarea[disabled] {
  color:#acacac;
  background:#f2f2f2;
}

input::placeholder,
textarea::placeholder {
  color: #b6b6b6;
}

textarea {
  resize: none;
  box-sizing: border-box;
}
