#form-topic {
  display: flex;
  width: 100%;
  padding: 16px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.25);
  margin-top: 16px;
}

#form-topic .topic-number {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 112px;
  min-width: 120px;
  width: 120px;
  background: #D2902D;
  font-size: 72px;
  font-weight: 700;
  color: #fff;
  margin-left: 8px;
}

#form-topic .topic-info {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-left: 32px;
  padding: 0 32px;
  background: #F0F0F0;
  border-radius: 5px;
  -moz-box-shadow: inset 0px 2px 2px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: inset 0px 2px 2px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0px 2px 2px rgba(0, 0, 0, 0.1);
}

#form-topic .topic-title {
  font-size: 24px;
  color: #444444
}

#form-topic .topic-description {
  margin-top: 8px;
  font-size: 18px;
  color: #888888;
  font-weight: 500;
}


#form-topic .arrow-container {
  margin-left: 24px;
  display: flex;
  align-items: center;
}
#form-topic .arrow {
  width: 0;
  height: 0;
  border-top: 16px solid transparent;
  border-bottom: 16px solid transparent;

  border-left: 12px solid #E6E6E6;

  -moz-box-shadow: inset 0px 2px 2px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: inset 0px 2px 2px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0px 2px 2px rgba(0, 0, 0, 0.1);

}
