<html>
<head>
  <meta charset="utf8">
  <title>Cover</title>
  <style>
    html, body {
      margin: 0;
      padding: 0;
      -webkit-print-color-adjust: exact;
      box-sizing: border-box;
      background: #f5f5f5;
      height: 100%;
      page-break-after: auto;
    }


    .cover-page {
      position: relative;
      display: block;
      height: 100%;
      width: 100%;
      background: #bbb;
      page-break-after: auto;
    }
    .rj-img-container {
      position: absolute;
      border: 1px solid black;
      margin: -1px;
      top: 32px;
      left: 24px;
    }
    .cover-content {
      position: absolute;
      top: 30%;
      width: 100%;
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      text-align: center;
    }
    .cover-label {
      color: #666;
    }
    .cover-company {
      text-align: center;
      color: #444;
      display: flex;
      flex-wrap: nowrap;
      overflow-wrap: break-word;
      width: 320px;
      margin: auto;
    }
    .cover-footer {
      position: absolute;
      bottom: 32px;
      left: 24px;
      color: #666;
    }


    .header {
      width: calc(100% - 4px);
      background: #bbb;
      border: 2px solid black;
      flex-wrap: nowrap;
      text-align: center;
      display: flex;
      height: 52px;
      display: table;
    }
    .header-label {
      display: table-cell;
      vertical-align: middle;
      font-size: 14px;
      color: #252525;
    }


    .summary-page {
      position: relative;
      height: calc(100%);
      width: 100%;
      page-break-after: auto;
    }
    .summary {
      position: absolute;
      width: calc(100% - 48px);
      padding: 0 24px;
    }
    .summary-text {
      text-align: center;
      font-size: 18px;
      color: #444;
      text-decoration: underline;
      margin-bottom: 32px;
      margin-top: 48px;
    }
    .summary-topic {
      font-size: 14px;
      color: #444;
    }
    .summary-subtopic {
      margin-left: 8px;
      font-size: 12px;
      color: #555;
    }


    .document {
      position: relative;
      height: calc(100% - 32px);
      width: calc(100% - 48px);
      padding: 0 24px;
    }
    .document-topic {
      font-weight: bold;
      font-size: 14px;
      color: #252525;
      margin: 32px 0;
    }
    .document-text {
      font-size: 12px;
      letter-spacing: 0.4;
      color: #444;
      text-indent: 1.5em;
    }
    .document-data {
      font-weight: 600;
    }
  </style>
</head>
<body>
  <img src="http://localhost:3333/files/governo-rj.png" alt="Governo do Rio de Janeiro" height="76" width="284" style="display: none;"/>


  <div class="cover-page">
    <div class="rj-img-container">
      <img src="http://localhost:3333/files/governo-rj.png" alt="Governo do Rio de Janeiro" height="76" width="284" />
    </div>

    <div class="cover-content">
      <h2 class="cover-label">Cadastro Ambiental</h1>
      <h1 class="cover-company">Empresa ABC</h2>
      <h2 class="cover-label">(n° 01/2020)</h1>

    </div>

    <div class="cover-footer">
      <p style="color: #444">24 de outubro</p>
      <p>Elaborado por: Vitor Araujo</p>
      <p>Ano base: 2020</p>
    </div>
  </div>

  <div class="summary-page">
    <div class="summary">
      <p class="summary-text">Sumário</p>

      <p class="summary-topic">1. Informações Gerais</p>
      <p class="summary-topic">2. Informações de Funcionamento</p>
      <p class="summary-topic">3. Informações Específicas</p>
      <p class="summary-topic">4. Processo Produtivo</p>
      <p class="summary-topic">5. Aspectos Ambientais</p>
      <p class="summary-subtopic">5.1. Abastecimento Hídrico</p>
      <p class="summary-subtopic">5.2. Emissões Atmosféricas</p>
      <p class="summary-subtopic">5.3. Efluentes Líquidos</p>
      <p class="summary-subtopic">5.4. Resíduos</p>
      <p class="summary-subtopic">5.5. Pressão Sonora</p>
      <p class="summary-subtopic">5.6. Risco Ambiental</p>
      <p class="summary-topic">6. Histórico de Processos</p>
      <p class="summary-topic">7. Anexos</p>
    </div>
  </div>

  <div class="document">
    <p class="document-topic">1. Informações Gerais</p>
    <p class="document-text">
      &nbsp;&nbsp;O Cadastro Ambiental n° <span class="document-data">12345</span> foi elaborado em <span class="document-data">20/05/1999</span> conforme
      as informações prestadas pelo representante da empresa <span class="document-data">Empresa ABC</span>
      inscrita no CNPJ <span class="document-data">123123123</span> do ramo de <span class="document-data">Cervejaria</span>. Este documento tem como
      objetivo subsidiar o requerimento da <span class="document-data">Lincensa de Operação</span>, de modo a
      regularizar a situação legal da empresa junto ao órgão ambiental.
    </p>

  </div>

</body>
</html>
